
input[type="date"]{
 font-size: 13px;
  color:gray;
}
input[type='select']{
  font-size: 13px;
  color:gray;
}
input[type="file"]{
    font-size: 13px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}input[type='text']{
  font-size: 12px;
  color:gray;
}
input[type='textarea']{
  font-size: 13px;
  color:gray;
}
input[type='tel']{
  font-size: 13px;
  color:gray;
}
input[type='email']{
  font-size: 13px;
  color:gray;
}
input[type='number']{
  font-size: 13px;
  color:gray;
}



 
